
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="container">
    <br />
    <h3>@ViewBag.v1</h3>
    <h3>@ViewBag.v2</h3>
    <h3>@ViewBag.v3</h3>
    <h3>@ViewBag.v4</h3>
    <h3>@ViewBag.v5</h3>
    <a href="/default/BasicPlanIndex" class="btn btn-success">Temel Plan</a>
    <a href="/default/UltraPlanIndex" class="btn btn-success">Ultra</a>
</div>